:host {
  display: block;
  padding-left: 32px;
  overflow-y: auto;
}
// START persian-dnnsoftware
@if "body has class $rtl"{
  :host {
    display: block;
    padding-right: 32px;
    padding-left: unset;
    overflow-y: auto;
    }
}
// END persian-dnnsoftware